<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Ann Sidenblad</title>
	<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.15.4/css/all.css" />

	<link rel="stylesheet" href="../style.css">
</head>

<body>
	<section id="header">
		<a class="logo" href="../index.html"><img src="../img/logo.png" class="logo" alt=""></a>

		<div>
			<u1 id="navbar">
				<li><a href="../index.html">Home</a></li>
				<li><a href="../about.html">About</a></li>
				<li><a href="../contact.html">Contact</a></li>
			</u1>
		</div>
	</section>

	<section id="desc">
		<div class="text">
			<h4>8</h4>
		</div>	
	</section>
</body>
</html>